/* ********** PAGE ********* */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("../assets/bg.jpg") fixed center top;
    color: white;
    text-align: center;
    font-family: verdana, sans-serif;
    text-shadow: 1px 1px 3px black, -1px -1px 3px black, 1px -1px 3px black, -1px 1px 3px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    width: 90%;
    backdrop-filter: sepia(80%);
    padding-bottom: 1.5rem;
}

footer {
    width: 100%;
    text-align: center;
    background-color: #404040;
    padding: 0.8rem;
}

/* ********** TEXTES ********** */

h1 {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 2rem;
}

h2 {
    font-size: 1.2rem;
    text-align: center;
    margin: auto 0.2rem 2rem 0.2rem;
}

h3 {
    font-size: 1.1rem;
    text-align: center;
}

#redTxt {
    color: RGB(255, 0, 0);
}

#greenTxt {
    color: RGB(0, 255, 0);
}

#blueTxt {
    color: RGB(0, 0, 255);
}

/* ********** BOUTONS ********** */

button {
    text-shadow: 1px 1px 3px black, -1px -1px 3px black, 1px -1px 3px black, -1px 1px 3px black;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    margin-bottom: 1rem;
    width: 80%;
    max-width: 700px;
    transition: 0.35s ease-in-out;
}

#colorGeneratorBtn {
    margin: 2rem auto;
    font-size: 2rem;
    background: linear-gradient(273deg, rgba(167, 72, 46, 1) 0%, rgba(83, 128, 189, 1) 100%);
    min-height: 100px;
}

#redBtn,
#greenBtn,
#blueBtn {
    /* width: 40%; */
    height: 70px;
    font-size: 1.5em;
}

#redBtn {
    background-color: RGB(255, 0, 0);
}

#greenBtn {
    background-color: RGB(0, 255, 0);
}

#blueBtn {
    background-color: RGB(0, 0, 255);
}

button:hover {
    cursor: pointer;
    box-shadow: white 0 0 20px;
    transform: scale(1.1);
}

/* ********** AUTRE ********** */

#coloredWindow {
    width: 70%;
    height: 200px;
    background-color: black;
    margin: 50px auto;
    border-radius: 5px;
    border: 2px gray solid;
}

hr {
    width: 80%;
    margin: 2rem;
}

@media screen and (min-width: 700px) {
    h1 {
        font-size: 3rem;
    }

    hr {
        margin: 4rem auto;
    }
    
}

.hidden {
    display: none;
}